/* This rule needs explanation */
**{
    font-weight: 400; 
}

/* Responsive font sizing */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

/* It looks like all these rules are targeting
headings in different parts of the site. 
Can it be done without relying on classes? 
e.g: p + h1 {} to target a heading coming immediately after a paragraph
     ul + h1 {} to target a heading coming immediately after a list
     h1 > h2 {} to target a level 2 heading sibling of a h1
*/

h1{
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px!important;
}
h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px;
}


p{
    font-size: 20px;
    line-height: 35px;
    color: #626262;
    
}
b {
    color: #626262;
}

strong {    /* Do we require more than the default? */
    font-weight: 500;
}

/* If changing the default styling is required, it is usually
good to also provide for the different link states */
a {   
    color: #626262;    
}

.parafont{
    font-size: 38px;
    line-height: 45px;
}

/*----------- About us page code ----------------*/

h1.about-para {
    line-height: 57px;
}

/*----------- Certificate page code ----------------*/

.benefit{
    font-size: 46px;
    line-height: 55px
}
p.desaLine{
    margin: 35px auto;
}
.feeDesign p{ 
    text-align: left;
    margin: auto;
    width: 415px;
}
.feeDesign tr:nth-child(odd){
    background-color: #E8E8E8;
}
.feeDesign tr:nth-child(even){
    background-color: #ffffff;
}
.certificateLine{
    font-size: 38px;
    line-height: 45px;
}

/*----------- Cultivation page/Transportation page code ----------------*/
.hdesign{
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}
p.upspace{
    padding: 50px 0px;
}

h1.parafont.aline{
    margin-top: 30px;
}
.parabold{
    font-weight: 500;
}
.titledesign{
    font-size: 30px;
    font-style: italic;
    margin-top: 45px!important;
    line-height: 38px; 
 }

/* -------Home page 3block code-----------*/
.fixHeight{
    min-height: 245px;
    padding: 0 5px;
} 
.buttonClass{
    width: 100%;
    text-align: center;
}

/* ---------------This code is effecting the mobile mode *---------------------*/ 

@media only screen and (max-width: 599px){
    h4 {
        font-size: 20px;
        line-height: 28px;
     }
     h2{
        font-size: 24px!important;
        line-height: 28px!important;
        margin-top: 35px;
    }
     h1{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px!important;
    }
    figure {
        padding: 0px!important;
    }
    .parafont{
        font-size: 26px;
        line-height: 28px;
    }

 /*---- Home page 3 block code -----*/
   
 .fixHeight{
    min-height: auto;
}
.homeContainer{
    width: 100%;
    
 }
section .homeContainer{
    padding: 25px;

}

 /*---- Footer code ------*/

 .container.align-vert span {
    margin-left: 12px;
    font-size: 14px;
}
.container.align-vert{
    padding: 18px 0px;
    display: block;
}
footer .align-vert img{
    min-width: 18px;
    max-width: 18px;
    margin-right: 0px;
}
.copyright{
    font-size: 10px;
    margin-left: 0px;
}

/*---- About us code -----*/
h1.about-para br, h1.about-para1 br {
    display: none;
}

h1.about-para {
    line-height: 42px!important;
}

/*----- About us code ----*/
 p.upspace {
        padding: 35px 10px;
    }
 caption {
        font-size: 20px;
        line-height: 28px;
        padding: 10px;
    }
img.no-pic {
        display: none;
    }

/*----- certification page code -----*/

 h1.benefit {
        font-size: 32px;
        line-height: 38px;
    }
}


/* ---------------This code is effecting the tablet mode *---------------------*/ 

@media screen and (max-width: 1200px) and (min-width: 600px){

    h1{
        line-height: 55px;
    }
    .line-high li {
        line-height: 30px!important;
    }

  /*----- Home page 3 block code ------*/

    .homeContainer {
        width: 100%;
        float: left;
        padding: 20px!important;
    }
    .homeContainer img{
        width: initial;
        float: left;
    }
    .fixHeight {
        min-height: auto;
        width: 80%;
        float: left;
    }
    .fixHeight p{
        text-align: left;
        padding: 2px 0px 0px 20px;
    }
    .buttonClass {
        width: 84%;
        float: right;
        text-align: left;
    }

  /*----------- Footer code -------------*/


    .align-vert{
        padding: 18px 65px;
        padding-bottom: 5px;
        width: 100%;
    max-width: 100%;
    display: -webkit-inline-box;
    }
    
    footer .align-vert img{
        margin-right: 10px;
        min-width: 24px;
        max-width: 24px;
    }
    .container.align-vert span {
        font-size: 16px;
        letter-spacing: normal;
    }
    .copyright{
        font-size: 10px;
    }
 
   
}